body {
  margin: 1em;
  padding: 1em;
  font-size: 2em;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.edit-text {
  font-size: 1em;
  line-height: 1.5em;
  width: 85%;
}

.edit-dropdown {
  font-size: 1em;
  line-height: 1.5em;
  width: 85%;
}

.action-button {
  font-size: 1em;
  padding: 0.5em;
  margin: 0.5em;
  display: block;
}

label {
  display: block;
  margin-top: 1em;
}
